{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/pages/edit_profile/style.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/pages/edit_profile/media.css' %}" />
{% endblock %}

{% block content %}
    <h1>Edit My Profile</h1>

    <div class="edit-profile-container">
      <form method="POST" action="{% url 'users:edit_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" height="150" />
          {% else %}
            <img src="{% static 'assets/images/portrait_placeholder.png' %}" alt="Profile Picture" height="150" />
          {% endif %}
          <br />
          <label for="profile_pic"><strong>Change Profile Picture :</strong></label>
          <br />
          <input type="file" id="profile_pic" name="profile_pic" accept="image/*" style="margin-top: 5px;" />
        </div>
        <br />

        <div>
          <label for="fullName"><strong>Full Name:</strong></label><br />
          <input name="fullName" type="text" id="fullName" value="{{ user.full_name }}" size="30" />
        </div>
        <br />

        <div>
          <label for="email"><strong>Email Address:</strong></label><br />
          <input name="email" type="email" id="email" value="{{ user.email }}" size="30" />
        </div>
        <br />

        <div>
          <label for="phone"><strong>Telephone:</strong></label><br />
          <input name="phone" type="tel" id="phone" value="{{ user.phone }}" size="30" />
        </div>
        <br />

        <div>
          <label for="address"><strong>Address:</strong></label><br />
          <textarea id="address" name="address" rows="3" cols="32">{{ user.address }}</textarea>
        </div>
        <br />

        <div>
          <button type="submit">Save Changes</button>
          <a href="{% url 'users:profile' %}"><button type="button">Cancel</button></a>
        </div>
      </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'users/js/pages/edit_profile.js' %}"></script>
{% endblock %}