{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/pages/profile/style.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/pages/profile/media.css' %}" />
{% endblock %}

{% block content %}
    <h1>My Profile</h1>
    <div class="profile">
      {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-pic" height="200" />
      {% else %}
        <img src="{% static 'assets/images/portrait_placeholder.png' %}" alt="Profile Picture" class="profile-pic" height="200" />
      {% endif %}

      <div class="profile-info">
        <h2 id="profile-name">Name: {{ user.full_name|default:user.username }}</h2>
        <p id="profile-email">Email: {{ user.email }}</p>
        <p id="profile-phone">Telephone: {{ user.phone|default:"Not Set" }}</p>
        <p id="profile-address">Address: {{ user.address|default:"Not Set" }}</p>
        <a href="{% url 'users:edit_profile' %}">
          <button class="edit-profile-btn">Edit Profile</button>
        </a>
      </div>

      <div class="profile-stats">
        <h3>Statistics:</h3>
        <p id="total-borrowed">Total Borrowed Books: {{ user.total_borrowed }}</p>
        <p id="member-since">Member Since: {{ user.date_joined|date:"F Y" }}</p>
      </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'users/js/pages/profile.js' %}"></script>
{% endblock %}