@import url("../../base/variables.css");
@import url("../../base/reset.css");
body{
  background-color: var(--color-bg-primary);
}
h1{
font-size: 2.5rem;
font-weight: 400;
font-family:'Prata' ,serif;
line-height: 1.1;
margin: 0;
text-shadow: 0 2px 20px var(--color-shadow-md);
}
label{
font-size: 1rem;
font: weight 50px;;
font-family:'Prata' ,serif;
line-height: 1.1;
margin: 0;
text-shadow: 0 2px 5px var(--color-shadow-md);
}
#button{
  color: white;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #4d0013;
  background-color: var(--color-action-primary);
  box-shadow:
    inset 0px 2px 1px rgba(255, 255, 255, 0.2),
    inset 0px -2px 2px rgba(0, 0, 0, 0.3),
    0px 4px 4px rgba(0, 0, 0, 0.2);
}
#button:hover {
  filter: brightness(1.15);
  transform: translateY(-1px);
  box-shadow:
    inset 0px 2px 1px rgba(255, 255, 255, 0.3),
    inset 0px -2px 2px rgba(0, 0, 0, 0.3),
    0px 6px 8px rgba(0, 0, 0, 0.2);
}

form{
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;

}

form>div {
  display: flex;
  flex-wrap:wrap; 
  gap: 15px ; 
  margin-bottom: 40px;
}
form > div > h1,
form > div > p,
form > div > label[for="Description"],
form > div > textarea
{
  width: 100%;
}
form > div > label:not([for="Description"]) {
  width: 15%;
  text-align: right;
}
form > div > input:not([type="submit"]),
form > div > select {
  width: 30%;
  padding: 8px;
  box-sizing:border-box; 
}

