{% extends 'base.html' %} {% load static %} {% block title %}Books{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/pages/books/style.css' %}" />
<link rel="stylesheet" href="{% static 'books/css/pages/books/media.css' %}" />
{% endblock %} {% block main_class %}books-main-container page-books{% endblock%} 
{% block content %}
<div class="books-header">
  <h2 class="page-title">All Books</h2>

  <div class="books-toolbar">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input
        type="text"
        id="search-input"
        placeholder="Search by title, author, or category..."
      />
    </div>

    <div class="sort-box">
      <label for="sort-books">Sort By:</label>
      <select name="sort-books" id="sort-books">
        <option value="AZ">Name: A to Z</option>
        <option value="ZA">Name: Z to A</option>
      </select>
    </div>
  </div>
</div>

<hr class="section-divider" />

<div class="books-grid" id="books-grid">
  {% for book in books %}
  <div class="book-card" style="display: block">
    <a href="{% url 'books:detail' book.id %}" class="book-img-link">
      {% if book.cover_image %}
      <img
        src="{{ book.cover_image.url }}"
        alt="{{ book.title }}"
        class="book-image"
      />
      {% else %}
      <img
        src="{% static 'assets/images/portrait_placeholder.png' %}"
        alt="No Cover"
        class="book-image"
      />
      {% endif %}
    </a>
    <div class="book-info">
      <a href="{% url 'books:detail' book.id %}" class="book-title"
        >{{ book.title }}</a
      >
      <span class="book-author">by {{ book.author }}</span>

      {% if book.is_available %}
      <span class="book-status status-available">Available</span>
      {% else %}
      <span class="book-status status-unavailable">Not Available</span>
      {% endif %}

      <form action="{% url 'books:confirm_borrow' book.id %}">
        <button
          type="submit"
          class="borrow-btn"
          {%if not book.is_available %}disabled{%endif%}
        >
          {% if book.is_available %}Borrow Book{% else %}Currently Unavailable{%endif %}
        </button>
      </form>
    </div>
  </div>
  {% empty %}
  <p
    style="
      text-align: center;
      width: 100%;
      grid-column: 1 / -1;
      margin-top: 2rem;
    "
  >
    No books currently available in the catalog.
  </p>
  {% endfor %}
</div>

<div id="no-results-msg" class="no-results" style="display: none">
  <i class="fa-solid fa-book-journal-whills fa-3x"></i>
  <h3>No books found!</h3>
  <p>Try adjusting your search criteria.</p>
</div>
{% endblock %} {% block extra_js %}
<script src="{% static 'books/js/pages/books.js' %}"></script>
{% endblock %}
